# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Django
*.sqlite3
db.sqlite3
/media
/staticfiles
/static
.env
.env.*
*.env
.envrc
.flake8
commitmsg.txt
# Postgres
*.psql
*.dump
*.pgsql
*.backup

# VSCode
.vscode/